<%- include("partials/header.ejs")%>
<% if(bool === true){ %>
    <h2>There is no school in this zone.</h2>
  <% } else {%>  
    <div class=" container">
     <h3>List of all <%=message%>exams</h3>
    <table class="table table-primary table-striped">
        <thead>
          <tr>
            <th scope="col">School</th>
            <th scope="col">School contact</th>
            <th scope="col">Session</th>
            <th scope="col">Month</th>
            <th scope="col">Date</th>
            <th scope="col">Examiner name</th>
            <th scope="col">Examiner contact</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
        <% for(var i=0;i<display.length;i++) { %>  
          <tr>
            <td><%= display[i].s_name %></td>
            <td><%= display[i].s_contact %></td>
            <td><%= display[i].session %></td>
            <td><%= display[i].month %></td>
            <td>
                 <% if(display[i].date === '') { %>
                      <%= "Not fixed" %>
                 <% } else { %>
                      <%= display[i].date %>
                 <% } %>
            </td>
            <td>
                 <% if(display[i].examiner_assigned === false) { %>
                      <%= "Not appointed" %>
                 <% } else { %>
                      <%= display[i].name %>
                 <% } %>
            </td>
            <td>
                 <% if(display[i].examiner_assigned === false) { %>
                      <%= "Not available" %>
                 <% } else { %>
                      <%= display[i].phone %>
                 <% } %>
            </td>
            <td>
               <form class="viewExamDetails" action="/viewExamDetails" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="code" name="code" value="<%= display[i].id %>">
                        <button class="poster"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                         <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                         <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                         </svg></button>
                    </div>
                </form>
                
          </td>
          </tr>
        <% } %>
        </tbody>
      </table>
     </div>
<% } %>  
<%- include("partials/footer.ejs")%>