<%- include("../partials/header.ejs")%>
<% if(bool === true){ %>
    <h2>This examiner has not completed any exams</h2>
  <% } else {%>  
    <div class=" container">
    <h3>List of all exams taken by <%= display[0].exam_taker %></h3>
    <table class="table table-primary table-striped">
        <thead>
          <tr>
            <th scope="col">Serial</th>
            <th scope="col">School</th>
            <th scope="col">Address</th>
            <th scope="col">Session</th>
            <th scope="col">Date</th>
            <th scope="col">Fees</th>
            <th scope="col">Direct Candidate</th>
            <th scope="col">T/A</th>
            <th scope="col">Exam Status</th>
            <th scope="col">Payment Status</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
        <% for(var i=0;i<display.length;i++) { %>  
          <tr>
            <td><%= i+1 %></td>
            <td><%= display[i].name %></td>
            <td><%= display[i].address %></td>   
            <td><%= display[i].session %></td>
            <td>
                 <% if(display[i].date === '') { %>
                      <%= "Not fixed" %>
                 <% } else { %>
                      <%= display[i].date %>
                 <% } %>
            </td>
            <td>
                 <% if(display[i].fees === 0) { %>
                      <%= "Not fixed" %>
                 <% } else { %>
                      <%= display[i].fees %>
                 <% } %>
            </td>
            <td><%= display[i].direct_candidate %></td>
            <td><%= display[i].food + display[i].transport %></td>
            <td>
               <% if(display[i].conducted === false) { %>
                 <button type="button" class="status-buttons-danger">Not conducted</button>
               <% } else { %>
                 <button type="button" class="status-buttons-success">Conducted</button>
               <% } %>
             </td>
            <td>
              <% if(display[i].examiner_paid === false) { %>
                <button type="button" class="status-buttons-danger">Pending</button>
              <% } else { %>
                <button type="button" class="status-buttons-success">Paid</button>
              <% } %>
            </td>
            <td>
               <form class="viewExamReportDetails" action="/viewExamReportDetails" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="code" name="code" value="<%= display[i].id %>">
                        <button class="poster"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                         <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                         <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                         </svg></button>
                    </div>
                </form>
                
          </td>
          </tr>
        <% } %>
        </tbody>
      </table>
      <h4>Enter the serial number upto which you want to generate report</h4>
      <form class="generateReport" action="/generateReport" method="post" target="_blank">
          <input type="text" class="form-control" id="count" name="count">
          <% var mcount = 0; %>
          <% for (var i = 0; i < display.length; i++) { %>
            <% if (display[i].examiner_paid === false) { %>
                <input type="hidden" class="form-control" id="examid<%= i %>" name="examid<%= i %>" value="<%= display[i].id %>">
                <% mcount = mcount+1 %>
            <% } %>
        <% } %>
          <input type="hidden" class="form-control" id="maxCount" name="maxCount" value="<%= mcount%>">
          <div class="button-submit">
              <button type="submit" class="btn btn-primary">Generate Report</button>
            </div>
    </form>
     </div>
<% } %>  
<%- include("../partials/footer.ejs")%>